body {
    font-family: 'Lato', sans-serif;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.signature {
    font-size: 13px;
}

.btn {
    height: 30px;
    width: 100px;
}

.input-but {
    background-color: red;
    color: white;
    font-weight: bold;
    border: 0px;
}

.button {
    margin-top: 35px;
}

.header-style {
    background-image: url(images/Rectangle\ 12.png);
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
    font-weight: bold;
    font-size: 14px;
}


/* Intone */

.intone-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
}

.intone-images {
    background-image: url("");
    background-repeat: ;
}

.arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Product Features */

.product-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.advantage-card-3 {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headline {
    font-weight: bold;
    font-size: 20px;
}


/* Product Details */

.description-product {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}


/* Product Benefits */

.product-benefits {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}

.color-red {
    color: red;
}

.product-benefits div ol {
    padding-left: 0;
    margin-left: 15px;
}


/* New Products */

.new-products {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-block {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 360px;
    height: 360px;
}

.product-1 {
    background-image: url("images/1.png");
    background-repeat: no-repeat;
}

.product-2 {
    background-image: url("images/1.png");
    background-repeat: no-repeat;
}

.product-3 {
    background-image: url("images/1.png");
    background-repeat: no-repeat;
}


/*  OUR CLIENT REVIEWS  */

.our-client-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.text-client-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style-block-reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.window-comment {
    width: 50px;
    height: 50px;
    align-self: center;
}

.ellipse-window {
    width: 120px;
    height: 120px;
}

.arrow-l {
    background-image: url("images/arrow\ left.png");
    background-repeat: no-repeat;
    margin-right: 35px;
}

.ellipse-c {
    background-image: url("images/Ellipse\ 3.png");
    background-repeat: no-repeat;
}

.arrow-r {
    background-image: url("images/arrow\ right.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}

.text-sup-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorclient {
    font-weight: bold;
    font-size: 20px;
}


/*  WE ARE FEATURED ON!  */

.featured-on {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.text-featured-on {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.embleme {
    display: flex;
    justify-content: space-between;
}


/* SUBSCRIBE OUR NEWSLETTER */

.newsletter {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.input-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.input-subs {
    width: 300px;
    height: 30px;
    padding-left: 10px;
}


/*  footer  */

.footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}


/* FOOTER Left column */

.footer-left-column {
    display: flex;
    flex-direction: column;
}

.social-network {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.soc-icon {
    width: 50px;
    height: 50px;
}

.soc-icon-fb {
    background-image: url("images/socnetwork/facebook.png");
    background-repeat: no-repeat;
}

.soc-icon-tw {
    background-image: url("images/socnetwork/twitter.png");
    background-repeat: no-repeat;
}

.soc-icon-pin {
    background-image: url("images/socnetwork/pintress.png");
    background-repeat: no-repeat;
}

.soc-icon-vim {
    background-image: url("images/socnetwork/vemio.png");
    background-repeat: no-repeat;
}

.soc-icon-g {
    background-image: url("images/socnetwork/g+.png");
    background-repeat: no-repeat;
}

.footer-left-column p {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* FOOTER Right-column */

.footer-right-column {
    background-color: red;
}

.contact-us {
    display: flex;
}

.contact-us aside {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}

.copyright-footer {
    margin-top: 100px;
}